*{
    background-color: rgb(252, 255, 214);
    font-family: "Roboto Slab", serif;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-family: "Roboto Slab", serif;
    color: rgb(165, 42, 144);
}

img{
    width: 120px;
    height: 120px;
}